@import 'variables.scss';

.navigation {
    z-index: $zindex-navbar;
    color: white;
    background-color: $darkPrimaryColor;
    height: 100%;
    max-width: 200px;
    position:fixed;
    .btn-group-vertical {
        width: 100%;
    }
    button {
        white-space: normal;
    }
}