.navigation {
    x-index: 2;
    color: white;
    background-color: #DEDEDE;
    height: 100%;
    width: 100px;
    position:relative;
    margin:0;
    padding:0;
    float:left;
    .btn-group-vertical {
        width: 100%;
    }
    button {
        white-space: normal;
    }
}