<div class="modal-header">
    <h3>Nouvelle colonne</h3>
</div>

<div class="modal-body">
    <form role="form">
        <div class="form-group" ng-if="!modal.column.$$hashKey">
            <label for="inputContentType">Quelle contenu ?</label>
            <div class="form-group">
                <label class="btn btn-primary" ng-model="modal.column.content_type" btn-radio="'entries'">Annonces</label>
                <label class="btn btn-primary" ng-model="modal.column.content_type" btn-radio="'inbox'">Messagerie</label>
            </div>
        </div>
        <div ng-if="modal.column.content_type == 'entries'">
            <div class="form-group">
                <label for="addressInput">Adresse</label>
                <input type="text" ng-model="modal.column.params.to_address" class="form-control" id="addressInput" placeholder="issy?">
            </div>
            <div class="form-group">
                <label for="categoryInput">Catégorie</label>
                <select
                  class      = "form-control"
                  ng-model   = "modal.column.params.cat"
                  ng-options = "cat as (cat.title + ' (' + cat.service_count + ')') for cat in modal.categories">
                    <option value="">-- Choisissez une catégorie --</option>
                </select>
            </div>
            <div class="form-group">
                <label for="tagInput">Mots clés</label>
                <input type="text" class="form-control" ng-model="modal.column.params.tag" id="tagInput" placeholder="tennis, poney, partouse">
            </div>
        </div>
        <div ng-if="modal.column.content_type == 'inbox'">
            Une colonne inbox va être ajoutée.
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="modal.ok()">OK</button>
    <button class="btn btn-warning" ng-click="modal.cancel()">Cancel</button>
</div>
