
@import 'variables.scss';


.stack {
  display          : inline-block;
  background-color : white;
  vertical-align   : top;
  width            : 300px;
  margin-right     : 40px;
  .stack__header {
    font-size        : 1.3em;
    line-height: inherit;
    padding          : 10px 10px;
    background-color : $darkPrimaryColor;
    position         : relative;
    z-index          : $zindex-navbar - 1;
    box-shadow       : 0px 1px 5px -2px rgba(0, 0, 0, 0.64);
    .btn-group {
      vertical-align: inherit;
    }
    .stack__header__title {
      margin-left: 10px;
      width: 150px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      color: white;
    }
  }
  .stack__body {
    overflow-y: scroll;
    .stack__entry {
      position            : relative;
      padding             : 10px;
      border-bottom       : 1px solid rgba(91, 91, 91, 0.38);
      background-color    : white;
      transition-duration : .25s;
      transition-property : background-color;
      &:hover {
        background-color: $lightPrimaryColor;
        cursor : pointer;
      }
      .entry__date {
        position  : absolute;
        right     : 5px;
        color     : #5A5A5A;
        font-size : .8em;
      }
      .entry__username {
        font-weight: bold;
      }
      .entry__title {

      }
      .entry__category {
        background-color : rgba(78, 111, 102, 1);
        color            : #FFF;
        display          : inline-block;
        padding          : 1px 5px;
      }
      .entry__detail {
        font-size: .9em;

      }
    }

    .wrapper{position:relative}
    .stack__panel{
      position : absolute;
      background-color : red;
      display:none;
    }
  }
}